<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="style.css">
</head>
<header>
  <div class="navbar" th:fragment="header">

    <ul class="nav navbar-nav">
      <li>
        <a class="navbar-brand" href="/">Home Page</a>
      </li>
      <li>
        <a class="navbar-brand" href="/hello">Hello Page</a>
      </li>
      <li>
        <a href="/capitalize/hello" >Capitalize</a>
      </li>
      <li>
        <a href="/albums" >Albums</a>
      </li>
      <li>
        <a href="/addAlbum" >Add your Album</a>
      </li>
      <li>
        <a href="/songs" >Your songs</a>
      </li>
      <li>
        <a href="/addSong" >Add Songs</a>
      </li>
    </ul>


  </div>
</header>
<body>
<div  th:each="song : ${songs}">
  <p th:text="${song.id}"> Song Id</p>
  <p th:text="${song.title}"> Song Title</p>
  <p th:text="${song.trackNumber}">Song Track Number</p>
  <p th:text="${song.length}">Song Length</p>
</div>
</body>
</html>